.career-shell {
  background-color: #efffeb;
  background-image: url("../assets/careerimage.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  box-shadow:inset 0 10px 10px -10px rgba(0, 0, 0, 0.1); 
}

.career-container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 15px;
}

.section-header {
  font-size: 33px;
  font-weight: 500;
  color: #1d1d1d;
}
.section-question {
  color: #00c26d;
  font-size: 20px;
  font-weight: 500;
}

.section-info {
  padding-right: 500px;
  font-size: 18px;
  color: #1d1d1d;
}

.career-button {
  background-color: #00c26d;
  border-color: #00c26d;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 0.95rem;
}

.career-button:hover {
  background-color: #02d076;
  border-color: #02d076;
}

@media (max-width: 900px) {
  .career-button {
    width: 100%;
  }

  .career-shell {
    background-color: #efffeb;
    background-image: none;
  }
  .section-info {
    padding-right: 0px;
    font-size: 18px;
    color: #1d1d1d;
  }
}

.career-guide-tags {
  font-size: 16px;
  color: #878787;
  text-decoration: none;
  padding-right: 15px;
}

.career-guide-tags:hover {
  text-decoration: underline;
  cursor: pointer;
}

.career-link {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
}
