.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.custom-pagination .page-link {
  color: #1d1d1d;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  margin: 0 5px;
  border-radius: 4px;
}

.custom-pagination .page-item.active .page-link {
  background-color: #fff;
  border-color: #00c26d;
  color: #00c26d;
}

.custom-pagination .page-item:hover .page-link {
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.custom-pagination .page-item.disabled .page-link {
  pointer-events: none;
  background-color: #f8f9fa;
  border-color: #dee2e6;
}

.custom-pagination .page-link:focus {
  box-shadow: none;
}

.custom-pagination .page-item .page-link {
  padding: 6px 12px;
  font-size: 14px;
}

.event-accordion .accordion-header {
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  color: #1d1d1d;
  padding: 12px 16px;
  border-radius: 5px;
}


.event-accordion .accordion-body {
  background-color: #ffffff;
  padding: 20px;
  font-size: 14px;
  line-height: 1.6;
  color: #1d1d1d;
  text-align: left;
  border-radius: 0px 0px 5px 5px;
}

.event-accordion .accordion-item {
  margin-bottom: 20px;
  border: solid 1px #d8d8d8;
}

.event-accordion .accordion-button {
  background-color: transparent;
  color: inherit;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  border: none;
  box-shadow: none;
}

.event-accordion .accordion-button:not(.collapsed) {
  color: #1d1d1d; 
  background-color: #fff; 
}

.event-accordion .accordion-button:focus {
  box-shadow: none; 
}
