.outer-container {
  background: linear-gradient(to bottom, #f6f8ff 80%, #293349 20%);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.slider-container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slider-container .carousel-item img {
  cursor: pointer;
  padding-bottom: 15px;
}
.slider-container .carousel-indicators {
  max-width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

.slider-container .carousel-indicators li {
  background-color: #00c26d;
}

.slider-container .carousel-indicators .active {
  background-color: #00c26d;
}

.slider-container .carousel-control-prev-icon,
.slider-container .carousel-control-next-icon {
  border: 1px solid #f0f0f0f0;
  background-color: #00c26d;
  border-radius: 50%;
}

.slider-container .carousel-control-prev,
.slider-container .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  opacity: 1;
}

@media (max-width: 768px) {
  .slider-container .carousel-control-prev,
  .slider-container .carousel-control-next {
    display: none;
  }
}
