.outer-container {
  background: linear-gradient(to bottom, #f6f8ff 75%, #293349 25%);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.container {
  padding: 80px 0px;
}
/* Carousel içindeki resimlere tıklanabilirlik (pointer) özelliği ekler */
.container .carousel-item img {
  cursor: pointer;
}
.container .carousel-indicators {
  max-width: fit-content;
  margin: auto;
  margin-bottom: 25px;
}
/* carousel-indicators sınıfındaki noktaların rengini yeşil yapar */
.container .carousel-indicators li {
  background-color: #00c26d; 
}
.container .carousel-indicators .active {
  background-color: #00c26d; 
}
.container .carousel-control-prev-icon,
.container .carousel-control-next-icon {
  border: 1px solid #f0f0f0f0; 
  background-color: #00c26d; 
  border-radius: 50%; 
}



.container .carousel-control-prev,
.container .carousel-control-next {
  top: 50%; 
  transform: translateY(-50%); 
  width: 30px; 
  height: 30px; 
  opacity: 1; 
}

.container .carousel-control-prev {
  left: -15px; 
}

.container .carousel-control-next {
  right: -15px; 
}
